//
// BRAND Color
//

$bg-color:               #1c1c1c;
$brand-color:            #df6b9e;
$brand-color-light:      #b55680;
$brand-color-dark:       #8b4262;
$brand-color-darker:     #622e45;

//
// Typography
//

$font-size-root:         16px;
$font-size-base:         1rem;
$font-family-sans-serif: "Inter", Helvetica, sans-serif;
$line-height-base:       1.5;
$text-color:             #374961;
$link-active-color:      #41b783;

//
// Breakpoints
//

$sm-viewport: 560px;
$md-viewport: 760px;
$lg-viewport: 960px;

//
// Spacing
//

$spacer: 1rem;
